:root{
    --cor-fundo: #010d0e;
    --cor-principal: #180b20;
    --cor-secundaria: #30366b;
    --cor-destaque: #0f7faf;
    --cor-texto: #a4afb1;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}